/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.top-bar .fl-rich-text>p,
.top-bar .fl-rich-text>ul.storename {
    margin-bottom: 0px !important;
}
.fl-post-image-beside,
.fl-post-image-beside img{
	width: 100%;
}
h1.form-heading,
.fl-archive .fl-archive-title{
    color: #000;
    font-size: 24px;
}
.fl-post-image-beside img{
	    height: 500px !important;
    object-fit: cover;
    margin-bottom: 20px;
}
.footer-phone .storename>a {
    display: none;
}

.follow-us p {
    margin-bottom: 5px !important;
}

.top-bar .fl-rich-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.top-bar .fl-rich-text>ul.storename {
    position: absolute;
    right: 4%;
}
.address .storename, .address .address a p{
    margin-bottom: 0px!important;
     padding-bottom: 0px!important;
}
.address p{
    margin-bottom: 10px!important;
     padding-bottom: 0px!important;
}
.store-opening-hrs li{
    position: relative;
}
.store-opening-hrs li span{
    position: absolute;
    left: 200px;
}
.fl-slide-1 .fl-slide-photo-wrap {
    text-align: center;
    display: flex;
    align-items: center !important;
    justify-content: center;
    min-height: 580px !important;
}

.firefox .fl-content-slider .bx-loading {
    display: none !important;
}

.firefox .fl-content-slider .fl-slide {
    visibility: visible !important;
}

.fl-slide-foreground {
    max-width: 100% !important;
}

h2.fl-slide-title {
    margin: 0 !important;
}

@-moz-document url-prefix() {
    ul#input_12_5 li.gchoice_12_5_1 input {
        margin-top: 0px !important;
    }
}

h1.fl-post-title {
    color: #000 !important;
}

h1.fl-post-title a {
    color: #000 !important;
}

.toggle-image-thumbnails a.arrow.next {
    right: -20px !important;
}

.toggle-image-thumbnails a.arrow.prev {
    left: -15px !important;
}

.hasDatepicker {
    max-width: 80%;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}

.searchIcon .ua-icon-icon-111-search2 {
    cursor: pointer;
}

.body {
    background-color: #f5f5f5;
}

.apply-now-btn a.financeSync:hover,
.direction a.fl-button:hover {
    background: #47413e !important;
    color: #fff !important;
}

.apply-now-btn a.financeSync:hover span,
.direction a.fl-button:hover span {
    color: #fff !important;
}

ul#menu-top-bar-ctas li:first-child a {
    font-size: 16px !important;
    font-weight: 500 !important;
}

.post-967728 .call-us p,
.post-1036 .call-us p {
    display: none;
}

.post-967728 .call-us .storename span {
    font-weight: 500;
    font-size: 18px;
}

.post-967728 .call-us .storename span:hover {
    color: #000;
}

ul#menu-top-bar-ctas li:first-child a:hover {
    color: #000;
}

.fl-module-uabb-advanced-menu .uabb-creative-menu:not(.off-canvas):not(.full-screen):not(.menu-item) .uabb-creative-menu .sub-menu {
    border: 1px solid;
}

.fl-page {
    width: auto;
    overflow: hidden;
}

.njba-tabs-panel-content {
    padding: 0;
}

.tabReverce .njba-tab-section-main {
    display: flex;
    flex-direction: column-reverse;
}

.tabCenter .njba-tabs-nav {
    display: flex;
    justify-content: center
}

.njba-tabs-label.njba-tab-active>.njba-tab-label-inner {
    border-color: #A00A20 !important;
}

.fl-page-bar-container {
    padding: 15px 0;
}

#menu-top-bar-menu .nav-link {
    font-size: 16px;
    font-weight: 500;
    padding: 2px 50px;
    font-family: 'Montserrat', sans-serif;
}

.fl-page-header-logo .fl-logo-img {
    height: 70px !important;
}

.fl-page-nav .navbar-nav>li>a.nav-link {
    padding: 15px 9px;
    margin-top: 8px;
    font-size: 11.7px;
}

.fl-page-nav {
    padding: 15px;
}

.fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a.nav-link,
.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a.nav-link {
    padding: 15px 12px;
    font-size: 15px;
}

.fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
.fl-page-header-fixed img.fl-logo-img {
    max-height: 80px !important;
    min-height: 80px !important;
    width: auto !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a {
    text-transform: uppercase;
}

.fl-page-header .fl-page-header-container {
    padding: 10px 0;
}

.homeSlider .bx-pager.bx-default-pager {
    bottom: 30px;
}

.homeSlider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
}

.homeSlider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: transparent;
    border: 1px solid #fff;
}


/* product row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}

@media (max-width:1024px) {
    .top-bar-menu,
    .top-bar-btn,
    .main-menu-row,
    .searchIcon,
    .fl-page-nav-right.fl-page-header-fixed,
    .fl-page-header-fixed {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .fl-builder-content div.w-100 {
        width: 100% !important;
        max-width: 400px;
        margin: 0 auto;
    }
	.uabb-blog-posts-col-4 img{
		max-width: 400px;
	}
    .fl-slide-mobile-photo {
        display: block !important;
    }
    .fl-slide.fl-slide-0 .fl-slide-bg-photo {
        display: none !important;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0px !important;
    }
    .fl-content-slider .fl-slide-bg-photo {
        position: absolute !important
    }
    .fl-slide .uabb-infobox-left-right-wrap {
        padding: 0 50px !important;
    }
    .max-width-issue {
        max-width: 400px !important;
        margin: 0 auto !important;
    }
    footer .fl-icon-text {
        padding-left: 0px !important;
    }
    .m-0>.fl-node-content {
        margin: 20px !important;
    }
}

@media (max-width: 767px) {
    h2.uabb-ultb3-title,
    .uabb-ultb3-box h2.uabb-ultb3-title {
        font-size: 33px !important;
    }
    .product-row.featured h3,
    .product-row.featured h4,
    .product-row.featured h5 {
        text-align: center !important;
    }
    .product-row.featured h4 {
        margin-bottom: 20px !important;
    }
	.special_product_form{
		padding: 20px 10px;
		margin-top: 40px;
	}
}

.fl-page-bar-nav>li .phone.retailer {
    font-size: 16px;
    padding: 2px 50px;
}


/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* Image Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}


/* Reviews */

.reviews h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.reviews img {
    margin: 0;
    padding: 0 0 5px 0;
}


/* Product Grid */

.swatch-thumb {
    max-height: 238px;
    overflow: hidden;
}

.swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid.swatch {
    text-align: center;
}

.product-grid.rooms {
    text-align: left;
}

.product-grid.featured {
    text-align: center;
}

.product-grid.swatch h2 {
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.swatch h4 {
    font-size: 10px;
    margin: 5px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid.rooms h2 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.rooms h4 {
    font-size: 10px;
    margin: 5px 0 5px 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.strike-price {
    color: #929292;
    text-decoration: line-through !important;
    margin-right: 10px;
}

.sale-price {
    font-weight: 700;
    color: #212121;
}

.product-grid.featured h2 {
    font-weight: 700;
    margin: 0 0 15px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.featured .fl-post-grid-text {
    padding: 0px 10px;
    text-align: left;
}

.product-grid.featured .fl-post-grid-text a.greylink {
    color: #ed2d28;
}

.product-grid.featured h4 {
    font-size: 15px;
    margin: 10px 0 10px 0;
    padding: 0;
    text-transform: none;
    color: #383838;
    font-weight: 600;
}

.product-grid.featured .fl-post-grid-post {
    min-height: 390px;
    transition: all 0.2s;
}

.product-grid.featured .fl-post-grid-post:hover {
    box-shadow: 0px 0px 5px;
}

.product-grid .fl-button {
    margin-bottom: 10px;
}

.product-grid .fl-button-text {
    font-size: 12px;
}

.product-grid a {
    text-decoration: none;
    font-size: 13px;
}

.product-grid a.link {
    color: #929292;
}

.product-grid a.link:hover {
    text-decoration: underline;
    color: #929292;
}

.product-grid a.greylink {
    color: #908c7b;
}

.product-grid a.greylink:hover {
    text-decoration: underline;
    color: #908c7b;
}

.product-grid.swatch .product-row .product-grid br {
    display: none;
}

.product-grid.swatch .product-row .product-grid a.fl-button {
    display: none;
}

.njba-tabs-style-7 .njba-tab-menu-main .njba-tab-label-inner {
    border-bottom: 4px solid transparent;
}

@media (max-width: 767px) {
    .product-grid.swatch .row>:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid.swatch .row>:nth-child(3n+1) {
        clear: left;
    }
}

@media (min-width: 992px) {
    .product-grid.swatch .row>:nth-child(4n+1) {
        clear: left;
    }
}

@media (min-width: 992px) {
    .product-grid.rooms .row>:nth-child(4n+4) {
        clear: left !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid.rooms .row>:nth-child(2n+1) {
        clear: left;
    }
}

.product-grid .swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid .fl-post-grid-post {
    margin-bottom: 40px;
}


/* Facet CSS */

.facetwp-facet select {
    width: 100%;
    padding: 10px;
}

.facetwp-selections ul li {
    font-size: 16px;
}

.facetwp-per-page {
    text-align: right !important;
}

.facetwp-per-page select {
    padding: 5px;
}

.facetwp-counts {}

.facetwp-pager {
    float: right;
}

.bottom-pager .facetwp-pager {
    float: none;
    text-align: center;
}

.facetwp-pager span.pager-text {
    font-size: 14px !important;
    padding-right: 10px;
}

.facetwp-pager span.pager-arrow {
    font-size: 28px;
}

.facetwp-pager a {
    color: #929292;
    vertical-align: middle;
}

.facetwp-pager a:hover {
    text-decoration: none;
}

.facetwp-page {
    display: inline-block;
    padding: 0px 4px;
    margin-right: 6px;
    cursor: pointer;
}

.product-count {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.faceted_results {
    margin-top: 20px;
}

.facet-wrap {
    display: none;
}

.facet-wrap.is-hidden {
    display: none !important;
}

.facet_filters .facetwp-facet {
    margin-bottom: 25px;
}

.facet_filters strong {
    font-size: 16px;
    color: #630A0A;
    display: block;
    margin: 0 0 10px;
}

.facet-inner {
    max-height: 360px;
    overflow: auto;
}


/* .product-detail-layout-default .product-swatch .product-swatch-inner .button-wrapper-default a:first-child,
.product-detail-layout-default .product-swatch .product-swatch-inner .button-wrapper-default a:last-child{
    display: none;
}
 */


/* Product Box */

.product-box {
    text-align: left;
}

.product-box a.fl-button {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 180px !important;
    display: block;
    text-align: center;
}

.product-box a.fl-button:hover {
    text-decoration: none;
}

.product-box a.fl-button.btn-white {
    background-color: transparent !important;
    border-color: #554E46 !important;
}

.product-box a.fl-button.view_more {
    background: #a00a20;
    border-color: #a00a20;
}

.product-box a.fl-button.view_more:hover {
    background: transparent;
}

.product-box a.fl-button.view_more:hover .fl-button-text {
    color: #a00a20;
}

.product-box h1 {
    margin: 0 0 0 0;
    padding: 0;
    text-transform: none;
    font-weight: 700;
}

.product-box h2 {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 1.8rem;
}


/* Product Colors */

.product-colors ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.product-colors ul li {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.product-colors ul li.found {
    font-size: 5rem;
    padding-right: 15px;
    font-weight: 300;
}


/* Product Attributes */

.product-atts ul {
    margin: 40px 0 0 0;
    padding: 0;
    color: #008c8c;
}

.product-atts ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-atts a.fl-button {
    padding: 10px 40px;
}

.product-attributes {
    text-transform: capitalize;
    margin-bottom: 80px;
    margin-top: 60px;
}

.product-attributes table th,
.product-attributes table td {
    padding: 12px !important;
}

.product-attributes table th {
    width: 30%;
}

.product-attributes table td {
    width: 70%;
}


/* Product Swatch */

.product-swatch {
    text-align: center;
}

.product-swatch .img-responsive {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 450px;
}

.product-swatch .img-responsive img {
    display: none;
    margin: 0 auto;
}


/* Product Variation */

.product-variations {
    margin: 80px 0 50px 0;
    text-align: center;
}

.product-variations>.row {
    display: block;
}

.product-variations img {
    width: 100%;
    height: auto;
    padding: 0px !important;
}

img.product-logo {
    max-width: 140px;
    height: auto;
    margin-bottom: 15px;
}


/* Color Box */

.color-box {
    margin-bottom: 30px;
    line-height: normal;
    min-height: 180px;
}

.color-box small {
    font-size: 80%;
}

.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}

.product-detail-layout-5 .product-variations {
    margin: 0 0 50px;
    padding: 20px 0;
    position: relative;
    background: #fff9f2;
}

.slick-initialized .slick-slide {
    max-width: none;
}


/* Image Gallery Modal */

.galleryMenu .menu-item:not(.current-page-ancestor) a {
    color: rgba(255, 255, 255, 0.6);
}

.active-gallery-modal .fl-post-title {
    font-family: "PT Sans Narrow";
}

.footerSocial-icons ul.social-icons {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.footerSocial-icons ul.social-icons>li {
    padding: 0 10px;
}

.footerSocial-icons ul.social-icons>li>a {
    color: #767676;
}

.footerWrapper {
    font-family: roboto;
}

.storename,
.footerWrapper .storename {
    padding: 0;
    list-style: none;
}

.footerWrapper .storename p {
    margin: 0 !important;
}

.njba-tabs-panel-content>p {
    display: none;
}

.backgroundImage-color {
    padding: 0 80px 50px;
    background: #fff9f2;
}

.njba-tabs.njba-tab-section-main .tab-align-center .njba-tabs-nav .njba-tabs-label.njba-tab-active .njba-tab-label-inner {
    border-color: rgb(160, 10, 32);
}

.fl-page .btnReverce a.fl-button {
    padding: 20px 35px;
    background: transparent;
    border-color: #ffffff;
}

.fl-page .btnReverce a.fl-button>* {
    color: #ffffff;
}

.fl-page .btnReverce a.fl-button:hover {
    background: #ffffff;
}

.fl-page .btnReverce a.fl-button:hover>* {
    color: #383838;
}

.search-wrapper {
    padding: 10px;
}

.phoneno>a {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.phoneno .storename {
    margin: 0px;
}

.navbar .nav .menu-item-has-children>a:after {
    content: "\f078";
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 0 0 10px;
    font-weight: 400;
}

.navbar .nav .sub-menu .menu-item-has-children>a:after {
    content: "\f054";
    position: absolute;
    right: 15px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

button#responsive-menu-button {
    z-index: 999 !important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {
    margin-top: 0px !important;
}

.form-wrap-shopat {
    z-index: 999;
}

#responsive-menu-additional-content a {
    color: #fff;
    font-size: 16px;
}

.timeEstimate .ginput_container_time select {
    width: 100px !important;
}

.facetwp-checkbox {
    font-size: 15px !important;
}

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.gform_wrapper ul.gform_fields li.gfield {
    padding-right: 10px !important;
}

.storename .phone a span:before {
    content: "\f879";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-right: 5px;
}

.uabb-image-carousel.slick-slider .slick-arrow {
    background-color: transparent !important;
    border: none !important;
}

.uabb-image-carousel.slick-slider .slick-arrow i {
    color: #648a76 !important;
}

.category-list-row .fl-col-content.fl-node-content {
    min-height: 400px;
    margin-bottom: 10px;
}

@media(max-width:1024px) {
    .fl-page-header-logo .fl-logo-img {
        height: auto !important;
    }
    .fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a.nav-link,
    .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a.nav-link {
        padding: 11px 7px;
    }
    .fl-page-nav .navbar-nav>li>a.nav-link {
        padding: 15px 8px;
        font-size: 12px;
    }
    .product-box h1 {
        font-size: 20px;
    }
    button#responsive-menu-button {
        top: 125px !important;
    }
}

@media(max-width:991px) {
    button#responsive-menu-button {
        position: absolute !important;
    }
    .product-box {
        max-width: 100% !important;
        flex: 0 0 100%;
    }
    .product-box .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .product-detail-layout-default .product-swatch {
        width: 100% !important;
        max-width: 100% !important;
        flex: auto;
    }
    .fl-page-bar {
        display: none;
    }
}

@media (min-width:1000px) and (max-width:1024px) {
    .style-product_list .pro-container .pro-details .button-wrapper {
        flex-direction: column !important;
    }
    .acc-pro-mea .fl-col-content.fl-node-content {
        padding-left: 0;
    }
    .product-box h2 {
        font-size: 15px;
    }
}

@media (max-width:768px) {
    .footer-main-row .fl-col-small,
    footer .fl-col-small,
    .footer-main-row .uabb-infobox-title {
        width: 100% !important;
        text-align: center !important;
    }
    footer .fl-col-small * {
        text-align: center !important;
    }
    .services-page-row .fl-col-content.fl-node-content {
        min-height: 440px;
        margin-bottom: 10px;
    }
    .flooring-sec .fl-col-content.fl-node-content {
        min-height: 400px;
        margin-bottom: 10px;
    }
    #begin .fl-col-content.fl-node-content {
        margin-bottom: 10px;
    }
    .product-swatch {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .flo-coup-h .googlekeyword {
        background: #F5F5F5;
        color: #000;
        padding: 10px;
    }
}

@media (max-width:767px) {
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: block;
    }
    .facetwp-per-page,
    .facetwp-pager {
        float: none;
    }
    .facetwp-per-page,
    .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: center !important;
    }
    .fl-builder-content .fl-node-5d41d0fb1456f {
        width: 100% !important;
    }
    .fl-node-5d41d0fb14572 div.uabb-image-carousel .slick-next {
        right: 10px;
    }
    .fl-node-5d41d0fb14572 div.uabb-image-carousel .slick-prev {
        left: 10px;
    }
    .fl-col-small {
        max-width: 500px;
    }
    .fl-node-5d52e838ae8dd .uabb-creative-menu .menu>li {
        margin-top: 10px !important;
    }
}

@media(max-width:500px) {
    .product-box a.fl-button {
        width: 100% !important;
    }
    h2.uabb-ultb3-title {
        font-size: 33px !important;
    }
    .style-list .back-button {
        bottom: 92px !important;
    }
    .quality-family-best-wrap .uabb-list-icon-wrap {
        width: 60% !important;
        display: block;
        margin: 10px 0px !important;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-header-logo {
        text-align: center;
    }
    .top-bar .fl-rich-text {
        flex-direction: column;
    }
    .top-bar .fl-rich-text>ul.storename {
        position: static;
    }
    .header-logo-col img {
        width: 260px !important;
    }
}

@media(min-width: 992px) {}

.fl-node-5d66d02b6576c div.uabb-image-carousel .slick-prev,
.fl-node-5d66d02b6576c [dir='rtl'] div.uabb-image-carousel .slick-next {
    left: 20px !important;
}

.fl-node-5d41d0fb14572 div.uabb-image-carousel .slick-prev,
.fl-node-5d41d0fb14572 [dir='rtl'] div.uabb-image-carousel .slick-next {
    left: 20px !important;
}

.fl-node-5d66d02b6576c div.uabb-image-carousel .slick-next,
.fl-node-5d66d02b6576c [dir='rtl'] div.uabb-image-carousel .slick-prev {
    right: 20px !important;
}

.product-box h1 {
    font-size: 18px;
}

.flo-coup-h h1 {
    background-color: #000;
    padding: 10px 0;
}
@media(max-width:1100px){
	.store-opening-hrs li span {
    position: absolute;
    left: 106px !important;
}
}

@media(max-width:400px){
	.store-opening-hrs li span {
    position: absolute;
    left: 160px !important;
}
}